/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0a0a0a;
color:#fff;
}

/* NAV */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(12px);
position:fixed;
width:100%;
top:0;
z-index:100;
border-bottom:1px solid #222;
}

.logo{
font-size:26px;
font-weight:700;
letter-spacing:3px;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:#fff;
text-decoration:none;
}

.nav-links a.active{
color:#aaa;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
background:url("images/arch-hero.jpg") center/cover;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,0.75);
}

.hero-content{
position:relative;
max-width:800px;
padding:20px;
}

.hero h1{
font-size:60px;
font-weight:300;
letter-spacing:2px;
}

.hero p{
color:#bbb;
margin-top:15px;
}

/* BUTTONS */
.btns{
margin-top:25px;
display:flex;
gap:15px;
justify-content:center;
flex-wrap:wrap;
}

.btn{
padding:12px 25px;
border:1px solid #fff;
color:#fff;
text-decoration:none;
transition:0.3s;
border-radius:30px;
}

.btn:hover{
background:#fff;
color:#000;
}

.whatsapp{
border-color:#25D366;
}

.call{
border-color:#aaa;
}

/* ABOUT */
.about{
padding:120px 8%;
text-align:center;
background:#0f0f0f;
}

.about h2{
font-size:36px;
font-weight:300;
color:#fff;
}

.about p{
color:#aaa;
margin-top:10px;
}

/* PROJECTS */
.projects{
padding:120px 8%;
text-align:center;
}

.projects h2{
font-size:40px;
margin-bottom:40px;
font-weight:300;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#111;
border:1px solid #222;
overflow:hidden;
border-radius:10px;
}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

.card h3{
padding:15px;
font-weight:300;
color:#ccc;
}

/* CTA */
.cta{
padding:120px 8%;
text-align:center;
background:#0f0f0f;
}

.cta h2{
font-size:38px;
font-weight:300;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#000;
color:#666;
}

/* MOBILE */
@media(max-width:768px){

.hero h1{
font-size:36px;
}

}

/* ================= CONTACT PAGE ================= */
.contact-hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
background:url("images/contact-arch.jpg") center/cover;
padding:20px;
}

.contact-content{
position:relative;
max-width:700px;
z-index:2;
}

.contact-content h1{
font-size:50px;
font-weight:300;
}

.contact-content p{
color:#aaa;
margin:15px 0;
}

/* CONTACT BOX */
.contact-box{
margin:20px 0;
padding:20px;
border:1px solid #333;
background:rgba(0,0,0,0.6);
border-radius:10px;
}

.item{
display:flex;
justify-content:center;
gap:10px;
margin:10px 0;
color:#ccc;
}

.item i{
color:#fff;
}